.idea/
.vscode/
__pycache__/

pay.conf
log.txt
test.py
STRIPE
venv/

uncloud/docs/build
logs.txt

uncloud.egg-info

# run artefacts
default.etcd
__pycache__

# build artefacts
uncloud/version.py
build/
venv/
dist/

*.iso
db.sqlite3
