{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">


    <title>{{ site_name }} powered by ubookmark</title>
  </head>
  <body>
    <h1>{{ site_name }}</h1>
    <div>
      {% autoescape off %}
      <p>{{ site_description }}</p>
      {% endautoescape %}
    </div>


    <div>
      <ul class="list-group">
        {% for bookmark in object_list %}
        <li class="list-group-item">
          <a href="{{ bookmark.url }}">{{ bookmark.comment }}
            ({{ bookmark.url }}) </a>
          <div class="text-muted">
            (posted by {{ bookmark.owner }} on {{ bookmark.posted_at }})
            </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">first</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">first</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">previous</a>
        </li>
        {% endif %}


        <li class="page-item disabled">
          <a class="page-link" href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">next</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">last</a>
        </li>
        {% endif %}
    </nav>

    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"</script>

    </body>
</html>
