{% extends 'ubookmark/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    {% autoescape off %}
    {{ site_description }}
    {% endautoescape %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="list-group">
      {% for bookmark in object_list %}
      <li class="list-group-item">
        <a href="{{ bookmark.url }}">{{ bookmark.comment }}
          ({{ bookmark.url }}) </a>
        <div class="text-muted">
          (posted by {{ bookmark.owner }} on {{ bookmark.posted_at }})
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
